@import "tailwindcss";

@import "@gravity-ui/uikit/styles/styles.css";

.g-root {
  --g-font-family-sans: "Baloo 2", sans-serif;

  --gil-color-object-base: rgb(255, 190, 92);
  --gil-color-object-accent-heavy: rgb(211, 101, 7);
  --gil-color-object-hightlight: rgb(255, 216, 157);
  --gil-color-shadow-over-object: rgb(211, 158, 80);
  --gil-color-background-lines: rgb(140, 140, 140);
  --gil-color-background-shapes: rgb(242, 242, 242);
  --gil-color-object-accent-light: rgb(255, 255, 255);
  --gil-color-object-danger: rgb(255, 0, 61);
  --g-color-sfx-shadow: rgb(0, 0, 0, 0);
}
